canvas { 
     position: relative;
}
ul,.li { 
    margin: 0;
    padding: 0;
}
.labels-x, .labels-y { 
    position: absolute; 
    left: 37; 
    top: 37; 
    list-style: none; 
}
.labels-x li { 
    position: absolute; 
    bottom: 0; 
    height: 100%;
}
.labels-x li span.label { 
    position: absolute; 
    color: #555; 
    top: 100%; 
    margin-top: 5px ;
    left:-15;
}
.labels-x li span.line{  
    position: absolute; 
    border: 0 solid #ccc;
    border-left-width: 1px; 
    height: 100%;
}
.labels-y li { 
    position: absolute; 
    bottom: 0;
    width: 100%;  
}
.labels-y li span.label { 
    position: absolute; 
    color: #555;  
    right: 100%; 
    margin-right: 5px; 
    width: 100px; 
    text-align: right;  
}
.labels-y li span.line { 
    position: absolute;  
    border: 0 solid #ccc; 
    border-top-width: 1px; 
    width: 100%; 
}
.legend {
    list-style: none;
    position: absolute; 
    left: 520px; 
    top: 40px; 
    border : 1px solid #000; 
    padding: 10px;
}
.legend li span {
    width: 12px;
     height: 12px; 
    float: left;
    margin: 3px;
}
.chart-title {
    font-size: 24; 
    font-weight: bold; 
    position: absolute; 
    left: 150px; 
    top: 10px;
    width: 100%
}
